<div id="div_notizie">
<h1> Elenco Notizie </h1>
<%if !@notizie.nil? %>
<table>
  <tbody id="notizie">
    <%= render @notizie %>
  </tbody>
</table>
</div>
<div id="div_paginator">
  <%= paginate @notizie, remote: true %>
</div>
<% end %>