<h1>Elenco Notizie</h1>

<table>
  <tbody>
    <% @notizie.each do |notizia| %>
      <tr>
        <td><%= link_to notizia.title, notizia %></td>
        <td><%= link_to 'Edit', edit_notizia_path(notizia) %></td>
        <td><%= link_to 'Destroy', notizia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notizia', new_notizia_path %>
